  
# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz
.env
firebase-adminsdk-credentials.json

# Coveralls
coverage

# Benchmarking
benchmarks/graphs